{%extends 'all_art/base.html'%}

{% block content %}
{{block.super}}
<div class="container">
    <h1 class="text-center">Welcome To Our Studio</h1><br>
    <div class= 'row'>
            <!-- loop through all the images -->
            {% for photo in Picture %}
            <div class = "col-md-4">
                <a href="{{photo.image.url}}" target="_self"><img class="img-responsive" src="{{photo.image.url}}" alt="Coffee"></a>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}