{%extends 'all_art/base.html'%}

{% block content %}
{{block.super}}
<div class="top">
    <div class="container"id="loc">
        <h3 id="loc">Locations:</h3>
        {% for loc in location %}
        <div class="row">
            <a class="loc" href="/?location={{loc.id}}"><button id ="button" class = "btn btn-warning">{{ loc.loc }}</button></a>
        </div>
        {% endfor %}
</div>
<div class="container" id="cat">
    <h3 class="cat">Categories:</h3>
    {% for cat in category %}
    <div class="row">
        <a class="cat" href="/?category={{cat.id}}"><button id ="button" class = "btn btn-warning">{{ cat.name }}</button></a>
    </div>
    {% endfor %}
</div>
</div>
<div class="container mt-5">
    <h3 class="text-center"><i>~A Picture A Day Keeps The Memories Fresh~</i></h3><br>
    <p id="me"class="text-center"><i>Mwikali</i></p>
    <div class="row p-4">
        {% for photo in Picture%}
        <div class = "col-md-4" data-toggle ="modal" data-target="#showPictureModal{{photo.id}}">
            <img src="{{photo.image.url}}" alt="" class="img-responsive">
        </div>
        <!-- Modal -->
<div class="modal fade" id="showPictureModal{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalPictureTitle">{{photo.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{photo.image.url}}" class = "img-responsive"alt="{{photo.name}}">
          <p class="text-centre">About:{{photo.description}}</p><hr>
          <div class="row">
            <div class="col-md-4">
                <p>Category:{{photo.category}}</p>
            </div>
            <div class="col-md-4">
                <p>Loc:{{photo.location}}</p>
            </div>
            <div class="col-md-4">
                <p>Date Uploaded:{{photo.pub_date}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <p>Double click to copy this link!</p>
            <input class="form-control" type="text" value="{{photo.image.url}}" id="{{photo.id}}.url">
            
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
    </div>

</div>
<div class="footer">
    <p class="text-center">Copyright:2021 Studio Picturesque ~<a href="https://github.com/Maryan23">Mwikali</a>~</p>
</div>
{% endblock %}

